# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# JS / desktop-ui
desktop-ui/node_modules
desktop-ui/dist
desktop-ui/dist-ssr
desktop-ui/dist-tsbuild-node
desktop-ui/*.tsbuildinfo
desktop-ui/*.local

# Tauri / Rust
src-tauri/target
src-tauri/gen

# Logs
*.log
